/* Color */
:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%), hsl(199,100%,33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240,240,246);
    --cardBG: rgb(225,225, 235) ;
    --iconColor: #253b53;
    --bgFooter:#f5f5f5;
  }
.footer{
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    /* background: url(../../assets/images/footer.jpg); */
    /* background-size: cover;
    background-position:inherit; */
}

.footer p{
    font-size: .9rem;
}

.icon-brand{
    color: #fff;
}
.icon{
    color: var(--textColor);
}
.footer_text{
    line-height: 30px;
    color: var(--iconColor);
}

.footer_quick_links ul li{
    background: transparent !important;
}

.footer_quick_links ul li a{
    color: #999999;
}

.quick_links_title {
    margin-bottom: 20px;
    columns: var(--greyText);
    font-size: 17px;
    color: var(--iconColor);
    font-weight: 800;
}

.footer_quick_links h1{
    color: var(--iconColor);
}

.footer_contact li, 
.footer_contact li{
    color: #999999;
}

.font_contact li span{
    font-size: 1.2rem;
}

.footer_contact li p{
    font-size: .9rem;
    color: #999999;
}


.social{
    font-size: 1.8rem;
    cursor: pointer;
}
.form-contact {
    margin-top: 1rem;
}
.form-contact p{
    margin-bottom: 0.4rem;
}
.form-contact input{
    width: 75%;
    margin-bottom: 0.5rem;
    background-color: white;
    border: 1px solid grey;
    padding: 0.4rem;
}
.form-contact .btn-contact{
    width: 75%;
    padding: 4px 0;
    margin-bottom: 0.5rem;
    justify-content: center;
    background: gray;
    color: white;
    border: none;
}
.icon-contact{
    padding-left: 3px;
}
.footer_copyright{
    color: var(--iconColor);
    font-size: .9rem;
    text-align: center;
    margin-bottom: 2rem;
}

